build/
.vs/
recovery/
x64/
*-backups/
Gerber/
*auto_saved*
*_autosave-*
*-bak
dist/
*.pdb
*__emit.zip
*.csv
*.xml
*.build.txt
*.dll
*.vcd
*.vvp
sdkconfig.old
*_User.toml
fp-info-cache
*.user
*.bin
*.bak
*.log
*.disabled
*.sig
*.sigw
.metadata/
_pcb/
_ClockBuddy/
obj_dir/
Debug/
ClockBuddy_Implmnt/